<h2>About</h2>
<h1>Jared Marshall Blake</h1>

<div class="row">
    <div class="col-md-4">

      <%= image_tag "3umwb3.jpg", width: 200, alt: "shark" %>
    </div>
    <div class="col-md-8">
      <p>Lots of text.  My whole story of my life.</p>
    </div>
</div>
