<h1>Would you like to work together?</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Office Address</h3>
    <p>11 Jason St. Arlington, MA 02476</p>
    <h3>Phone</h3>
    <p><%= number_to_phone "6172448611" %></p>
    <h3>Email</h3>
    <p><a href="<a href="mailto:jaredmarshallblake@gmail.com?subject=PortfolioContact" "email me">Email me</a></p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2945.5585762400747!2d-71.16072448428135!3d42.415843939569065!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e3764f95cf8aa5%3A0xcc304d0817d379db!2s11%20Jason%20St%2C%20Arlington%2C%20MA%2002476!5e0!3m2!1sen!2sus!4v1585583579279!5m2!1sen!2sus" width="350" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </div>
</div>



<p><%# number_to_currency "150" %></p>
<p><%# number_to_percentage ".804" %></p>
<p><%# number_with_delimiter "7897327273829132.0908439043" %></p>
