<h1>Pages#contact</h1>
<p><%= number_to_phone "6172448611" %></p>
<p><%# number_to_currency "150" %></p>
<p><%# number_to_percentage ".804" %></p>
<p><%# number_with_delimiter "7897327273829132.0908439043" %></p>
